<!Doctype html>
<html lang="en">
	<head>
		<meta charset = 'UTF-8'>
		<link rel="stylesheet" type="text/css" href="/assets/stylesheets/styles.css"/>

		<title> Soccer </title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	
	<body>
		<%- include ('partials/header.ejs') %>
		
		
		<main>
			
			<p class="color1">
				Soccer is played at all levels throughout the world from small kids leagues to professional and international teams. 
				Perhaps the most famous soccer tournament is the World Cup. Held every four years, the World Cup is a soccer competition 
				among countries and is one of the most watched events in the world. 

				One of the reasons soccer is so popular is that it really only takes a ball and a flat open area to play. Kids throughout
				 the world will make up fields and goals just about anywhere and start playing the game. The game is also fun and competitive.  
                </p>
			<div class="display">
				<div>
					<img src="/assets/images/photo2.jpg" alt="barca vs real madrid">
				</div> 
				<div class="img3"><img src="/assets/images/photo3.jpg" height="183" width="275" alt="juventus">
				</div>
				<div class="img4"><img src="/assets/images/photo4.jpg" height="183" width="275" alt="liverpool vs manchester city">
				</div>
			</div>
		</main>

		<%- include ('partials/footer.ejs') %>
		
	
	</body>
</html>
		
