<header>
    <div>
        <div class="display">
            <div class="logo">
                <a href="/"><img src="/assets/images/soccer_logo.PNG" alt="Soccer" height="100" width="100"></a>
            </div>
            <div class="title color1">
                <h4>Let's Watch Games Together!</h4>
            </div>
            <div class="login" >
            <p>
                    <a href="/newConnection" class="color1"> Start a new event</a>&emsp;&emsp;
                    <%if (typeof UserSession != 'undefined'){ %> 
                        <a href="/myconnections"class="color1" >My Connections</a>
                        | 
                        <a href="/signout" class="color1">Sign Out</a>
                        <% } else {%> 
                        <a href="/login" class="color1">Login</a>
                        | 
                        <a href="/login" class="color1">Sign Up</a>
                        <% } %> 
                   
            </p>
            </div>
        </div>
        <div class="display">
            <div style="padding-left:20px">
                <a href="/connections" class="color1"> Upcoming Matches</a>
            </div>
            <div class="username">
                Welcome Username
            </div>
        </div>
    </div>
</header>