<!Doctype html>
<html lang="en">
	<head>
		<meta charset = 'UTF-8'>
		<title> Soccer </title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/assets/stylesheets/styles.css" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	
	<body>
		<%- include ('partials/header.ejs') %>

<article>
    <h3 class="color2">About Us</h3>
        <p class="color1">We make people gather over chai, coffee or drinks, watch matches,
        and support their teams. To build interest-based communities &amp; provide pleasant experiences using 
        technology. To develop an inclusive culture &amp; be the go-to global platform for people to explore 
        interest-based experiences.</p>
        </article>

        <%- include ('partials/footer.ejs') %>
		
	
	</body>
</html>
		
