<!Doctype html>
<html lang="en">
	<head>
		<meta charset = 'UTF-8'>
		<title> Soccer </title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/assets/stylesheets/styles.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	
	<body>
        <%- include ('partials/header.ejs') %>
        <div class="color2 about"> 
            Welcome to CCI Connections!
        </div>
        <div class="color1 about">
            please enter your username and password to sign-in
        </div>
        <form class="table" method ="POST" action = "/login">
            <label for="username">username</label>  
            <input type="text" id="username" name="username" required><br><br>
            <label for="password">password</label>  
            <input type="password" id="password" name="password" required><br><br>
            <button type="submit" >Login</button>
        </form>
        <% if(err==true){ %>
            <div class="color1 about">Please Enter correct Username and password!! </div>
        <% } %> 
        <% if(errors.length>0){
            for(var i=0;i < errors.length ; i++){ %>
                <label class="color1 about"> <%= errors[i].msg %> </label><br>
          <% }}%>
		<%- include ('partials/footer.ejs') %>
		
	
	</body>
</html>
		